<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../style.css">

</head>
<body>
    <div class="container">
        <div class="image">
            <img src="/image/logo.png" alt="">
            <h1>ADMIN OF JOBIT.vn</h1>
        </div>
        <div class="header">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">CONTECT</a></li>
            </ul>
        </div>
        <div class="body">
            <div class="narbar">
                <div class="menu">
                    <img src="https://img.icons8.com/ios-glyphs/256/home-page.png" alt="" width="20px"> <a href="">ADMIN HOME</a>

                </div>
                <div class="menu">
                    <a href="#" id="recuire"> MANAGER RECUIRE </a>
                </div>
                <div class="menu">
                    <a href="#" id="candidate" > MANAGER CANDIDATE </a>
                </div>
                <div class="menu">
                    <a href="/package" id="package"> PACEKAGE SERVICE </a>
                </div>
                <div class="menu">
                    <a href="#" id="package"> MANAGER TEMPLETE </a>
                </div>
                <div class="menu">
                    <a href="#" id="it"> MANAGER FIELD IT  </a>
                </div>
                <div class="menu">
                    <a href="#" id="thongke"> STATISTICAL </a>
                </div>
            </div>
            <div class="main">

            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>